.form-item {
  height: 90px;
}

.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  color: rgb(2, 173, 59);
}

.input {
  padding: 10px;
  display: block;
  outline: none;
  margin: auto;
  color: aliceblue;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(47, 79, 79, 0);
  border: 2px solid rgb(2, 173, 59);
}

.myError {
  padding-left: 10px;
  color: rgb(221, 6, 6);
  text-align: left;
}

.title {
  padding-left: 10px;
  display: block;
  text-align: left;
}

.form {
  width: 400px;
  padding: 30px;
  /* background-color: rgba(240, 248, 255, 0.603); */
}

.button {
  display: block;
  width: 100%;
  background-color: rgb(2, 173, 59);
  border-radius: 30px;
  border: none;
  color: aliceblue;
  font-size: 18px;
  padding: 10px;
}
